/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


:root{
    --heading-color:#180b3d;
    --primary-color:#155fe1;
    --secondary-color:#5bc873;
    --background-color:#f5f6f8;
    --button-color:#5bc873;
    --common-padding:4.5em;
    --teriary-button:#197df6;
    --error-state-color:red;
    --error-state-background:#f9e5e5;

    @media screen and (max-width:576px){
        --common-padding:0.5em;
    }
}



.row{
    display: flex;
}

.col-6{
    width: 50%;
    box-sizing: border-box;
    padding-right: 10px;
}

.col-3 {
    width: 25%;
    box-sizing: border-box;
    padding-right: 10px;
}

.col-4{
    width: 33.33%;
    box-sizing: border-box;
    padding-right: 10px;
}

.col-12{
    width: 100%;
    box-sizing: border-box;
    padding-right: 10px;
}

.error-message {
    color: var(--error-state-color) !important;
}

.error-input {
    outline: var(--error-state-color);
    border: 1px solid var(--error-state-color) !important;
}

small{
    text-align: right;
}

.clarity-fix{
    width: 100%;
    margin-left: 0;
}

mat-divider{
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}
